<h1>Welcome</h1>
<p>This is the NuLab Lab Creator Application. Authorized users only. If you require access, please contact <%=@adminemail%></p>
<p>Visitors, please visit the <a href="http://www.nulab.co.uk/">NuLab Website</a> for information on NuLab.</p>
<p>If you require guidance in using this application, please refer to the user manual.</p>