<%= render 'tabs1' %>
<h2>Analyses</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Number of Tests</th>
    <th>Status</th>
  </tr>
  <% if @project.analyses !nil? %>
    <% @project.analyses each do |an| %>
      <tr>
        <td><%=an.name %></td>
        <td>an.testx.count</td>
        <td>Not available</td>
      </tr>
    <% end %>
  <%else%>
    <tr><td><em>Empty</em></td></tr
  <%end%>
</table>

<div class="field">
   <%= @project.label :'Add Analysis' %><br />
   <%= @project.collection_select(:analysis_id, Analysis.all, :id, :name ) %>
</div>